<html>
    <body>
        <h1>Cadastro de Usuário</h1>
        <form action="/cadastro/usuario/salvar" method="POST">
            <label>Nome: </label>
            <input type="text" name="nome" placeholder="Nome"/> <br>
            <label>Quantidade: </label>
            <input type="text" name="Quantidade" placeholder="Quantidade"> <br>
            <label>Preço: </label>
            <input type="text" name="preco" placeholder="Preço"> <br>
            <input type="submit" value="Cadastrar">
        </form>
        <% if(mensagem) { %>
            <p>
                <label style="color: red;"><%= mensagem %></label>
            </p>
        <%}%>
    </body>
</html>